@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #161616;
    color: #EFEFEF;
    font-family: 'Overpass Mono', monospace;
}
.navbar{
    display: flex;
}
.nav-left{
    display: flex;
    margin-left: 30px;
    width: 50%;
}
.nav-right{
    width: 50%;
    height: 100px;
    margin: 0 0 0 auto;
    text-align: right;
    display: flex;
    justify-content: center
}
.nav-right-ele{
    display: inline;
    padding: 7px 40px 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
.theme-change{
    margin-top: 12px;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    color: #EFEFEF;
    font-size: 40px;
}
.theme-change:hover{
    cursor: pointer;
}
.myPhoto{
    width: 25%;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    pointer-events: none;
}
.name{
    text-align: center;
}
.about{
    width: 50%;
    margin: 0 auto;
}
.about-me{
    text-align: center;
    justify-content: center;
    font-size: 18px;
}
.contact{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.contact-icon{
    padding-right: 20px;
    font-size: 30px;
}

footer{
    margin-top: 50px;
    text-align: center;
}
.footer-ele{
    text-decoration: underline;
}